@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Įmonių Duomenų Bazė</h1>
    <a asp-controller="Imones"asp-action="Index">Įmonių sąrašas</a>.</p>
</div>
